/* Join page */
#join-chat {
  margin: 0px auto;
  padding-top: 35vh;
}

.mdl-textfield__input#hash {
  border-bottom: 1.2px solid rgba(63,81,181,0.8);
  font-size: 23px;
}

.joinform {
    text-align: center;
}

.joinform form {
    margin-top: 25vh;
}


/* Chat page */
main#chat-container {
  padding-top: 60px;
}

#chatbox {
    background-color: #fff;
    height: 65vh;
    overflow-y: auto;
}

#userlist {
    background-color: #fff;
    height: 65vh;
    overflow-y: auto;
}

h5 {
    color: white;
}

.message-textfield {
    width: 70%;
}

#message-form {
    padding: 10px;
}

#chat {
    height: 75vh;
    overflow: auto;
}

.vh100 {
    height: 100vh;
}

.text-center {
    text-align: center;
}

.sidenav {
    background-color: #3F51B5;
}

.chatbox {
}

.userlist {
}

#users-literal, #chatbox-literal {
    vertical-align: middle;
    background: #3F51B5;
    color: white;
    padding: 1px 3px 2px;
    padding-left: 30px;
}

#chatbox-literal {
    text-align: left;
    padding-left: 30px;
}

.user {
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 30px;
}

#send-button {
}


.chat-message .username {
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-bottom: 5px;
}

.chat-message .user-message {
    color: black;
    font-size: 15px;
}

.chat-message .chat-pic {
    height: 50px;
    width: 50px;
    margin: 16px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10%;
}

#chat > div.chat-message {
    padding-left: 20px;
}

#chat .mdl-card {
    min-height: 0px;
}

#username {
    font-weight: 700;
}

#message{
    border-bottom: 1px solid rgba(63, 81, 181, 0.7);
}