body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  background: #304b76;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

a.special {
  color: #ffc200; 
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}

a.special.create-chat {
  font-size: 18px;
}

.join-input {
  font-size: 23px;
  border-radius: 3%;
  border: 0;
  padding: 5px;
}

.join-btn {
  background: #ffc200;
  border: 0;
  margin-left: 10px;
  font-size: 23px;
  cursor: pointer;
  padding: 5px;
}

.join-page-container {
  padding-top: 12vh;
  text-align: center;
  margin: 0px auto;
}

.join-page-container h1 {
  font-size: 65px;
  color: #fff;
  overflow: hidden;
}

div.left-div {
  width: 23.5vw;
  float: left;
  padding-left: 1.5vw;
  padding-top: 1.2vw;
  color: white;
}

div.main-div {
  width: 75vw;
  float: right;
  background: #fff;
}

div.main-div {
  height: 100vh;
}

div.message-container {
  height: 92.5vh;
}

.channel-literal {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;   
}

.channel-name.selected {
  background: #ffc200;
  padding: 4px;
  border-radius: 1.5% 0 0 1.5%;
  display: block;
  margin-left: 1px;
  color: #304b76;
}

span.person {
  display: block;
  line-height: 27px;
}

div.people-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 30vw;
}


div.chat-bar {
  padding: 5px 0px;
  border-top: 1px solid #ccc;
}

.message-input {
  width: 53vw;
  padding-left: 15px;
}

#msg {
  font-size: 20px;
  padding: 4px;
  margin: 1px;
  width: 50vw;
}



div.message {
  padding: 3px 30px;
  display: block;
  clear: both;
}

div.pic {
  width: 50px;
  height: 50px;
  float: left;
}

div.message-content {
  float: left;
  width: 60vw;
  padding: 0px 20px;
  font-size: 16px;
}

span.sender-username {
  font-weight: 700;
}

p.message-body {
  margin-top: 3px;
}

div.message-list {
  padding-top: 15px;
  height: 90vh;
  overflow: auto;
}

.muted {
  color: #a6a5a1;
}

.italic {
  font-style: italic;
}

/** MODAL =====================
*/


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-active {
  display: block;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#share-room-hash {
  font-size: 21px;
}

#hash-share-modal {
  text-align: center;
}

#copy-btn {
  background-color: #304B76; 
  color: #fff;
  border: 0px;
  font-size: 18px;
  padding: 5px 2px;
  margin: 1px 5px;
}

/* Transition animations */
/* React's fadein */
.react-fadein-enter {
  opacity: 0.01;
}
  
.react-fadein-enter.react-fadein-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

/* CSS based fade in */
.fadein-right {
  animation: fadein 300ms;
  -moz-animation: fadein 300ms; /* Firefox */
  -webkit-animation: fadein 300ms; /* Safari and Chrome */
  -o-animation: fadein 300ms; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
      transform: translateX(20px);
  }
  to {
      opacity:1;
      transform: translateX(0);
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.username-suggestions {
  position: fixed;
  bottom: 7.5vh;
  line-height: 32px;
  width: 100%;
}

.suggested-username {
  padding-left: 2vw;
  background: #304b76;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.suggested-username.active {
  background-color: #ffc200;
}